.market-filters {
    margin-top: 2rem;
}

#market-div {
    margin-top: 2rem;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

#admin-buttons {
    float: right;
}

#market-div .media-container {
    margin: 0;
    padding: 1rem;
}

#market-div .media {
    position: relative;
    display: table;
    height: 200px;
    transition: all 0.2s ease;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 5px;
    padding: 1rem;
}

#market-div .media .installed-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2.5em solid #95c12c;
    border-right: 2.5em solid transparent;
}

#market-div .media .installed-marker i {
    position: absolute;
    top: -2.3em;
    left: 0.5em;
    color: white;
}

#market-div .media img {
    height: 100px;
}

#market-div .media h4 {
    text-transform: capitalize;
    text-align: center;
}

#market-div .media-body p {
    text-align: justify;
    max-height: 6em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#market-div .media:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#market-div .media-body button {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: #95c12c;
    color: black;
    border: none;
    float: right;
    padding: 0.5em;
    border-radius: 0.3em;
    background-image: linear-gradient(to right, #95c12c, #95c12c 50%, #40535e 50%, #40535e);
    background-size: 202% 100%;
    background-position: 0 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#market-div .media:hover .media-body button {
    background-position: 100% 0;
    color: white;
}

.market-filters .btn-primary,
#plugin-modal .btn-primary
{
    background-color: #40535e !important;
    border-color: #40535e !important;
}

#div_pluginAlternativeMarketForJeedomAlert {
/*    height: 100%;*/
    display: none;
}

#md_modal {
    padding: 0;
}

#plugin-modal .row {
    margin: 0;
}

#plugin-modal-header {
    height: 20em;
}

#plugin-modal-header>div {
    height: 100%;
    padding: 1em;
}

#plugin-modal-header #description {
    clear: both;
}

#plugin-modal-header .left-pane {
    background-color: #FFFFFF;
}

#plugin-modal-header .left-pane img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plugin-modal-header .right-pane {
    background-color: #FFFFFF;
}

#plugin-modal-header img {
    margin-top: 1em;
    width: 14em;
}

#plugin-modal-header .button-item {
    float: left;
    margin-right: 1em;
}

#plugin-modal-header .btn {
    font-size: 1.5em;
}

#plugin-modal-body {
    background-color: #EAEAEA;
}

#plugin-modal-body,
#plugin-modal-footer {
    padding-top: 10px;
}
